node_modules/
**/node_modules/
dist/
**/dist/
coverage/
reports/
data/
wallet/
.env
**/.env
*.log
**/*.log
*.Zone.Identifier
**/*.Zone.Identifier
*:Zone.Identifier
**/*:Zone.Identifier
package-lock.json:Zone.Identifier
*.DS_Store
