PORT=3000
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1d

DB_PATH=./data/stajchain.sqlite
REJECTED_COMPANY_REQUEST_RETENTION_DAYS=15
REJECTED_COMPANY_REQUEST_CLEANUP_INTERVAL_HOURS=24

FABRIC_CHANNEL=mychannel
FABRIC_CHAINCODE=internship
FABRIC_MSP_ID=Org1MSP

# Update these paths to match your local Fabric workspace.
FABRIC_TEST_NETWORK_DIR=../../fabric-samples/test-network
FABRIC_ORG1_PATH=../../fabric-samples/test-network/organizations/peerOrganizations/org1.example.com
FABRIC_IDENTITIES_ROOT=../../stajchain-identities
FABRIC_CA_CERT_PATH=../../fabric-samples/test-network/organizations/fabric-ca/org1/tls-cert.pem
FABRIC_TLS_CERT_PATH=../../fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt

FABRIC_CA_URL=https://localhost:7054
FABRIC_CA_NAME=ca-org1
FABRIC_CA_ADMIN_ID=admin
FABRIC_CA_ADMIN_SECRET=adminpw
FABRIC_PEER_ENDPOINT=localhost:7051
FABRIC_PEER_HOST_ALIAS=peer0.org1.example.com
FABRIC_ORG_USER_DOMAIN=org1.example.com
